body{
  margin-top:20px;
  background-color:#eee;
}
.social-btn {
  display: inline-block;
  width: 2.25rem;
  height: 2.25rem;
  -webkit-transition: border-color 0.25s ease-in-out,background-color 0.25s ease-in-out,color 0.25s ease-in-out;
  transition: border-color 0.25s ease-in-out,background-color 0.25s ease-in-out,color 0.25s ease-in-out;
  border: 1px solid #e7e7e7;
  border-radius: 50%;
  background-color: #fff;
  color: #545454;
  text-align: center;
  text-decoration: none;
  line-height: 2.125rem;
  vertical-align: middle;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 1rem + 2px);
  padding: .5rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #404040;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e1e1e1;
  border-radius: 0;
  -webkit-transition: border-color 0.2s ease-in-out,-webkit-box-shadow 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out,-webkit-box-shadow 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out,box-shadow 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out,box-shadow 0.2s ease-in-out,-webkit-box-shadow 0.2s ease-in-out;
}
.input-group>.form-control, .input-group>.form-control-plaintext, .input-group>.custom-select, .input-group>.custom-file {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}
.input-group-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: .5rem 1rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #404040;
  text-align: center;
  white-space: nowrap;
  background-color: #fff;
  border: 1px solid #e1e1e1;
}
