<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<app-nav-bar-authenticated>

</app-nav-bar-authenticated>
<br>
<br>
<br>
<br>

<div class="container" style="justify-content: center;margin-top: -50px" id="main-container">

  <div class="ks-page-content">
    <div class="ks-page-content-body">
      <div class="ks-messenger">
        <div class="ks-discussions">
          <h4> <strong> Chats </strong>   <button class="btn btn-light btn-lg ml-4" (click)="onClickModal(null, 'send')" ><i class="fa fa-pencil-square-o "></i></button>    </h4>
          <hr>
          <div class="ks-search">
            <div class="input-icon icon-right icon icon-lg icon-color-primary">
              <form #searchContactForm="ngForm">
                <input id="input-group-icon-text" type="text" ngModel name="keyword" (ngModelChange)="onSearchSimilar(searchContactForm.value.keyword)" class="form-control" placeholder="Search a user...">
                <span class="icon-addon">
                  <span class="la la-search"></span>
                </span>
              </form>
            </div>
          </div>

          <div class="ks-body ks-scrollable jspScrollable" data-auto-height=""
            style="height: 700px; overflow-y: auto; padding: 0px; width: 339px;" tabindex="0">

            <!-- start of left pane -->
            <div class="jspContainer" style="width: 339px; height: 550px;">
              <div class="jspPane" style="padding: 0px; top: 0px; width: 329px;">
                <ul class="ks-items">
                  <li class="ks-item ks-unread" *ngFor="let friend of this.friends">
                    <a [routerLink]="['/chat']" [queryParams]="{receiverEmail: friend.email }">


                      <span class="ks-avatar ks-online">
                        <img *ngIf="friend.imageUrl === null" src="../../assets/images/user_default.png" width="36"
                          height="36" class="rounded-circle">
                        <img *ngIf="friend.imageUrl" src={{friend.imageUrl}} width="36" height="36"
                          class="rounded-circle">
                      </span>


                      <div class="ks-body">
                        <div class="ks-name">
                          {{friend.firstName}} {{friend.lastName}}
                        </div>
                      </div>
                    </a>
                  </li>

                </ul>
              </div>
              <!-- end of left pane -->

              <div class="jspVerticalBar">
                <div class="jspCap jspCapTop"></div>
                <div class="jspTrack" style="height: 550px;">
                  <div class="jspDrag" style="height: 261px;">
                    <div class="jspDragTop"></div>
                    <div class="jspDragBottom"></div>
                  </div>
                </div>
                <div class="jspCap jspCapBottom"></div>
              </div>
            </div>
          </div>
        </div>

        <!-- middle pane -->
        <div class="ks-messages ks-messenger__messages">

          <!-- read / unread etc -->
          <div class="ks-header" *ngIf="this.messages">

            <div class="ks-description">
              <div class="ks-name" *ngIf="this.account.email === this.messages[0].senderEmail" >{{this.messages[0].receiverFirstName}} {{this.messages[0].receiverLastName}}</div>
            </div>

          </div>


          <div class="ks-body ks-scrollable jspScrollable" data-auto-height="" data-reduce-height=".ks-footer"
            data-fix-height="32" style="overflow-y: scroll; padding: 0px;" tabindex="0">
            <div class="jspContainer" style="width: 701px; height: 481px;">
              <div class="jspPane" style="padding: 0px; top: 0px; width: 691px;">
                <ul class="ks-items" *ngFor=" let message of this.messages">

                  <li *ngIf="this.account.email === message.senderEmail" class="ks-item ks-self">
                    <span class="ks-avatar ks-online">
                      <img *ngIf="this.account?.imageUrl === null" src="../../assets/images/user_default.png" width="36"
                        height="36" class="rounded-circle">
                      <img *ngIf="this.account?.imageUrl" src={{this.account?.imageUrl}} width="36" height="36"
                        class="rounded-circle">
                    </span>
                    <div class="ks-body">
                      <div class="ks-header">
                        <span class="ks-name" style="font-size: 10px" >Me</span>
                        <span class="ks-datetime"> <i class="fa fa-clock-o"></i> {{message?.date}}</span>
                      </div>
                      <div class="ks-message" style="font-size: 15px"> {{message.payload}}</div>
                    </div>
                  </li>

                  <li *ngIf="this.account.email !== message.senderEmail" class="ks-item ks-from">

                    <span class="ks-avatar ks-online">
                      <img *ngIf="message.senderImageUrl=== null" src="../../assets/images/user_default.png"
                        width="36" height="36" class="rounded-circle">
                      <img *ngIf="message.senderImageUrl" src={{message.senderImageUrl}} width="36"
                        height="36" class="rounded-circle">
                    </span>



                    <div class="ks-body">
                      <div class="ks-header">
                        <span class="ks-name" style="font-size: 10px">{{message.senderFirstName}} {{message.senderLastName}} </span>
                        <span class="ks-datetime">{{message.date}}</span>
                      </div>
                      <div class="ks-message" style="font-size: 15px">{{message.payload}}</div>
                    </div>
                  </li>

                </ul>

              </div>
              <div class="jspVerticalBar">
                <div class="jspCap jspCapTop"></div>
                <div class="jspTrack" style="height: 481px;">
                  <div class="jspDrag" style="height: 206px;">
                    <div class="jspDragTop"></div>
                    <div class="jspDragBottom"></div>
                  </div>
                </div>
                <div class="jspCap jspCapBottom"></div>
              </div>
            </div>
          </div>
          <div class="ks-footer">
            <form [formGroup]="messageForm" (ngSubmit)="sendMessage(this.messageForm,this.queryParams)">
              <div class="row">
              <textarea class="form-control" formControlName="payload" style="width: 610px" placeholder="Type something..."></textarea>
              <button class="btn btn-primary ml-1" type="submit"><i class="fa fa-send"></i></button>
              </div>
            </form>
            <div class="ks-controls">
              <a href="#" class="la la-paperclip ks-attachment"></a>
              <div class="dropdown dropup">
                <button class="btn btn-link ks-smile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="la la-smile-o"></span>
                </button>
                <div class="dropdown-menu dropdown-menu-right ks-scrollable ks-smileys"
                  aria-labelledby="dropdownMenuButton" style="overflow: hidden; padding: 0px; width: 200px;">
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end of middle pane -->


        <!-- send new message modal -->
        <div class="modal fade" id="send" tabindex="-1" role="dialog" aria-labelledby="sendModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-dialog-zoom" role="document">
            <div class="modal-content">

              <div class="modal-header">
                <h5 class="modal-title" id="sendModalLabel">New message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>

              <div class="modal-body">

                <form [formGroup]="sendForm">

                  <div class="form-group">

                    <label for="receiver">Pick a Friend</label>
                    <a *ngIf="myFriends.length === 0" class="text-muted" ><br>No friends to talk with yet!</a>
                    <select *ngIf="myFriends.length > 0" formControlName="receiver" class="form-control" data-role="select-dropdown" data-profile="minimal" required>
                    <option *ngFor="let friend of myFriends" value={{friend.email}} >{{friend.firstName}} {{friend.lastName}}</option>

                    </select>
                  </div>

                  <div class="form-group">
                    <label for="payload">Type Your Message Here</label>
                    <textarea type="text" class="form-control" formControlName="payload" id="payload" required></textarea>
                  </div>

                </form>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button [disabled]="sendForm.invalid" (click)="onSendMessage(sendForm)" type="submit"
                  class="btn btn-success" data-dismiss="modal">Send</button>
              </div>

            </div>
          </div>
        </div>

        <!-- end of send new message modal -->

        <!-- user info / right panel-->

        <div class="ks-info ks-messenger__info" *ngIf="this.messages">
          <div class="ks-header">
            User Info
          </div>
          <div class="ks-body">
            <div class="ks-item ks-user">

              <span class="ks-avatar ks-online" *ngIf="this.account.email === this.messages[0].senderEmail">
                <img *ngIf="this.messages[0].receiverImageUrl == null" src="../../assets/images/user_default.png" width="36"
                  height="36" class="rounded-circle">
                <img *ngIf="this.messages[0].receiverImageUrl" src={{this.messages[0].receiverImageUrl}} width="36" height="36"
                  class="rounded-circle">
              </span>

              <span class="ks-avatar ks-online" *ngIf="this.account.email === this.messages[0].receiverEmail">
                <img *ngIf="this.messages[0].senderImageUrl === null" src="../../assets/images/user_default.png" width="36"
                  height="36" class="rounded-circle">
                <img *ngIf="this.messages[0].senderImageUrl" src={{this.messages[0].senderImageUrl}} width="36" height="36"
                  class="rounded-circle">
              </span>

              <span routerLink="/visit/{{this.messages[0].receiverEmail}}" class="ks-name" *ngIf="this.account.email === this.messages[0].senderEmail">
                {{this.messages[0].receiverFirstName}} {{this.messages[0].receiverLastName}}
              </span>

              <span routerLink="/visit/{{this.messages[0].receiverEmail}}" class="ks-name" *ngIf="this.account.email === this.messages[0].receiverEmail">
                {{this.messages[0].senderFirstName}} {{this.messages[0].senderLastName}}
              </span>
            </div>

            <div class="ks-item" *ngIf="this.account.email === this.messages[0].senderEmail">
              <div class="ks-name">Email</div>
              <div class="ks-text">
                {{this.messages[0].receiverEmail}}
              </div>
            </div>

            <div class="ks-item" *ngIf="this.account.email === this.messages[0].receiverEmail">
              <div class="ks-name">Email</div>
              <div class="ks-text">
                {{this.messages[0].senderEmail}}
              </div>
            </div>

            <div class="ks-item" *ngIf="this.account.email === this.messages[0].senderEmail">
              <div class="ks-name">Phone Number</div>
              <div class="ks-text">
                {{this.messages[0].receiverPhone}}
              </div>
            </div>

            <div class="ks-item" *ngIf="this.account.email === this.messages[0].receiverEmail">
              <div class="ks-name">Phone Number</div>
              <div class="ks-text">
                {{this.messages[0].senderPhone}}
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
