<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous">
<nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <a class="navbar-brand" href="#" style="font-size: large"><strong>up</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link" routerLink="/home"> Home </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="nav-link" routerLink="/network">Network </a>
            <a class="nav-link" routerLink="/jobs">Jobs </a>
            <a class="nav-link" routerLink="/chat">Chat</a>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
              Notifications
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">

              <button (click)="onClickModal(null, 'friends')" type="button" style="margin-left:auto " class="btn btn-block btn-light mb-2"
                      data-placement="top" data-original-title="friends">
                <i class="fa fa-address-book mr-1" style="color: green" aria-hidden="true"></i> <a style="color: green">Requests</a> </button>

              <button (click)="onClickModal(null, 'likes')" type="button" style="margin-left:auto " class="btn btn-block btn-light mb-2"
                      data-placement="top" data-original-title="likes">
                <i class="fa fa-heart" style="color: red" aria-hidden="true"></i> <a style="color: red"> Likes </a> </button>

              <button (click)="onClickModal(null, 'comments')" type="button" style="margin-left:auto" class="btn btn-block btn-light mb-2"
                      data-placement="top" data-original-title="comments">
                <i class="fa fa-comments mr-1" style="color: orange" aria-hidden="true"></i> <a style="color: orange">Comments</a> </button>

            </div>
          </li>

            <a class="nav-link" routerLink="/account">Profile</a>
            <a class="nav-link" routerLink="/settings">Settings</a>
            <a class="nav-link" href (click)="logout()">Logout</a>

        </div>
    </div>
</nav>

    <!-- friends modal -->
    <div class="modal fade" id="friends" tabindex="-1" role="dialog"
        aria-hidden="true">
        <div class="modal-lg modal-dialog modal-dialog-centered modal-dialog-zoom" role="document" aria-describedby="friends">
        <div class="modal-content">

            <div class="modal-header">
            <h5 class="modal-title" id="friends">Friend Requests</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            </div>

            <div class="modal-body" style="overflow-y: scroll;" *ngFor="let req of requests">
                    <div *ngIf="req.receiver == account"> You have a new friend request from <a routerLink="/visit/{{req.sender}}" data-dismiss="modal"> {{req.sender}} </a>

                      <button (click)="reject(req.sender)" type="button" style="margin-left:auto;float:right; " class="btn btn-outline-danger mb-2"
                              data-placement="top" data-original-title="reject">
                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>Reject</button>

                      <button (click)="accept(req.id)" type="button" style="margin-right: 5px;float: right " class="btn btn-outline-success mb-2"
                        data-placement="top" data-original-title="accept">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>Accept</button>

                    </div>

                    <div *ngIf="req.sender==account"> Pending friend request to <a routerLink="/visit/{{req.receiver}}" data-dismiss="modal"> {{req.receiver}} </a>
                    <button (click)="remove(req.id)" type="button" style="margin-left:auto " class="btn btn-outline-danger mb-2"
                        data-placement="top" data-original-title="reject">
                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>Cancel request</button>
                    </div>
            </div>

            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

        </div>
        </div>
    </div>
</div>
<!-- end friends modal -->

<!-- comments modal -->
    <div class="modal fade" id="comments" tabindex="-1" role="dialog"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-zoom" role="document" aria-describedby="comments">
        <div class="modal-content">

            <div class="modal-header">
            <h5 class="modal-title" id="friends">Comments</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            </div>

          <div  style="max-height:500px;overflow-y: scroll;">
              <div class="modal-body" *ngFor="let comment of comments">
                      <div *ngIf="comment.authorEmail == account">

                      <a data-dismiss="modal" routerLink="/home">
                          <img *ngIf="comment.authorImage === null" src="../../assets/images/user_default.png" width="36"
                            height="36" class="rounded-circle">
                          <img *ngIf="comment.authorImage!== null" src="{{comment.authorImage}}" width="36"
                            height="36" class="rounded-circle">
                              You commented your own post
                          </a>
                      </div>

                      <div *ngIf="comment.authorEmail !== account">
                      <a data-dismiss="modal" routerLink="/home">
                          <img *ngIf="comment.authorImage === null" src="../../assets/images/user_default.png" width="36"
                            height="36" class="rounded-circle">
                          <img *ngIf="comment.authorImage!== null" src="{{comment.authorImage}}" width="36"
                            height="36" class="rounded-circle">
                              {{comment.authorFirstName}} {{comment.authorLastName}} commented on your post
                          </a>
                      </div>
                </div>
              </div>

            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

        </div>
        </div>
    </div>
</div>
<!-- end of comments modal -->

<!-- likes modal -->
    <div class="modal fade" id="likes" tabindex="-1" role="dialog"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-zoom" role="document" aria-describedby="likes">
        <div class="modal-content">

            <div class="modal-header">
            <h5 class="modal-title" id="friends">Likes</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            </div>

          <div  style="max-height:500px;overflow-y: scroll;">
              <div class="modal-body" *ngFor="let like of likes">
                      <div *ngIf="like.userEmail == account">
                      <a data-dismiss="modal" routerLink="/home#{{like.postId}}">
                              <img *ngIf="like.imageUrl === null" src="../../assets/images/user_default.png" width="36"
                              height="36" class="rounded-circle" style="float: right;">
                              <img *ngIf="like.imageUrl !== null" src="{{like.imageUrl}}" width="36"
                              height="36" class="rounded-circle">
                              You liked your own post
                          </a>
                      </div>

                      <div *ngIf="like.userEmail != account">
                      <a data-dismiss="modal" routerLink="/home#{{like.postId}}">
                          <img *ngIf="like.imageUrl === null" src="../../assets/images/user_default.png" width="36"
                            height="36" class="rounded-circle">
                          <img *ngIf="like.imageUrl !== null" src="{{like.imageUrl}}" width="36"
                            height="36" class="rounded-circle">
                              {{like.userFirstName }} {{like.userLastName}} liked your post
                          </a>
                      </div>
                </div>
              </div>

            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

        </div>
        </div>
    </div>
</div>
