<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap" rel="stylesheet">
</head>
<body>

    <!--navigation bar when logged out -->
<div class="container">
    <app-nav-bar></app-nav-bar>
</div>

<!-- Image and text -->
<nav class="navbar navbar-light bg-white">
  <a class="navbar-brand" href="#">
    <img src="../assets/images/teamup-logo.png" width="110" class="d-inline-block align-top" alt="">
  </a>
</nav>

<div class="jumbotron" style="background: white">
  <h1 class="display-4">Meet great people, <br> make progress, <br> team <strong>up</strong></h1>

  <h3>Welcome to the world of collaboration</h3>
</div>

<app-login></app-login>

</body>
</html>
