
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
</head>
<br>
<h1 style="text-align: center">Network</h1>
<br>
<div class="container bootdey">
  <div class="row">
    <div class="col">
      <div class="user-widget-2">
        <ul class="list-unstyled">
          <li class="media">
            <img class="rounded-circle d-flex align-self-center" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
            <div class="media-body">
              <h5>Lucas smith</h5>
              <p>Apple, Inc.</p>
              <p><span class="badge badge-outline badge-sm badge-info badge-pill">sed</span>
                <span class="badge badge-outline badge-sm badge-primary badge-pill">sed</span><span class="badge badge-outline badge-sm badge-danger badge-pill">voluptatem</span></p>
            </div><i class="d-flex align-self-center fa fa-dot-circle-o color-success"></i></li>
          <li class="media">
            <img class="rounded-circle d-flex align-self-center" src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="">
            <div class="media-body">
              <h5>Clorinda Murphy</h5>
              <p>Tinder</p>
              <p><span class="badge badge-outline badge-sm badge-info badge-pill">sed</span>
                <span class="badge badge-outline badge-sm badge-primary badge-pill">sed</span>
                <span class="badge badge-outline badge-sm badge-danger badge-pill">voluptatem</span></p>
            </div><i class="d-flex align-self-center fa fa-dot-circle-o color-warning"></i></li>
          <li class="media">
            <img class="rounded-circle d-flex align-self-center" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
            <div class="media-body">
              <h5>Courtney Dickens</h5>
              <p>Yelp</p>
              <p><span class="badge badge-outline badge-sm badge-info badge-pill">sed</span>
                <span class="badge badge-outline badge-sm badge-primary badge-pill">sed</span>
                <span class="badge badge-outline badge-sm badge-danger badge-pill">voluptatem</span></p>
            </div><i class="d-flex align-self-center fa fa-dot-circle-o color-danger"></i></li>
        </ul>
      </div>
    </div>
    <div class="col">
      <div class="user-widget-2">
        <ul class="list-unstyled">
          <li class="media">
            <img class="rounded-circle d-flex align-self-center" src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="">
            <div class="media-body">
              <h5>Janet Abshire</h5>
              <p>Pinterest</p>
              <p><span class="badge badge-outline badge-sm badge-info badge-pill">sed</span>
                <span class="badge badge-outline badge-sm badge-primary badge-pill">sed</span>
                <span class="badge badge-outline badge-sm badge-danger badge-pill">voluptatem</span></p>
            </div><i class="d-flex align-self-center fa fa-dot-circle-o color-info"></i></li>
          <li class="media">
            <img class="rounded-circle d-flex align-self-center" src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="">
            <div class="media-body">
              <h5>James Smith</h5>
              <p>Apple, Inc.</p>
              <p><span class="badge badge-outline badge-sm badge-info badge-pill">sed</span>
                <span class="badge badge-outline badge-sm badge-primary badge-pill">sed</span>
                <span class="badge badge-outline badge-sm badge-danger badge-pill">voluptatem</span></p>
            </div><i class="d-flex align-self-center fa fa-dot-circle-o color-primary"></i></li>
          <li class="media">
            <img class="rounded-circle d-flex align-self-center" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
            <div class="media-body">
              <h5>Thomas Lee</h5>
              <p>Quora</p>
              <p><span class="badge badge-outline badge-sm badge-info badge-pill">sed</span>
                <span class="badge badge-outline badge-sm badge-primary badge-pill">sed</span>
                <span class="badge badge-outline badge-sm badge-danger badge-pill">voluptatem</span></p>
            </div><i class="d-flex align-self-center fa fa-dot-circle-o color-success"></i></li>
        </ul>
      </div>
    </div>
    <div class="col">
      <div class="user-widget-2">
        <ul class="list-unstyled">
          <li class="media">
            <img class="rounded-circle d-flex align-self-center" src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="">
            <div class="media-body">
              <h5>Lucas Koch</h5>
              <p>Reddit</p>
              <p><span class="badge badge-outline badge-sm badge-info badge-pill">sed</span>
                <span class="badge badge-outline badge-sm badge-primary badge-pill">sed</span>
                <span class="badge badge-outline badge-sm badge-danger badge-pill">voluptatem</span></p>
            </div><i class="d-flex align-self-center fa fa-dot-circle-o color-success"></i></li>
          <li class="media">
            <img class="rounded-circle d-flex align-self-center" src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="">
            <div class="media-body">
              <h5>Gladys Schuster</h5>
              <p>Coursera</p>
              <p><span class="badge badge-outline badge-sm badge-info badge-pill">sed</span>
                <span class="badge badge-outline badge-sm badge-primary badge-pill">sed</span>
                <span class="badge badge-outline badge-sm badge-danger badge-pill">voluptatem</span></p>
            </div><i class="d-flex align-self-center fa fa-dot-circle-o color-warning"></i></li>
          <li class="media"><img class="rounded-circle d-flex align-self-center" src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="">
            <div class="media-body">
              <h5>George Clinton</h5>
              <p>Facebook</p>
              <p><span class="badge badge-outline badge-sm badge-info badge-pill">sed</span>
                <span class="badge badge-outline badge-sm badge-primary badge-pill">sed</span>
                <span class="badge badge-outline badge-sm badge-danger badge-pill">voluptatem</span></p>
            </div><i class="d-flex align-self-center fa fa-dot-circle-o color-success"></i></li>
          <li class="media">
            <img class="rounded-circle d-flex align-self-center" src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="">
            <div class="media-body">
              <h5>Jennifer Weber</h5>
              <p>Lyft</p>
              <p><span class="badge badge-outline badge-sm badge-info badge-pill">sed</span><span class="badge badge-outline badge-sm badge-primary badge-pill">sed</span><span class="badge badge-outline badge-sm badge-danger badge-pill">voluptatem</span></p>
            </div><i class="d-flex align-self-center fa fa-dot-circle-o color-info"></i></li>
        </ul>
      </div>
    </div>
  </div>
</div>
