<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
</head>
<br>
<h1 style="text-align: center">Register</h1>

<div class="container">
  <form action="#">
    <div class="row justify-content-md-center">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="login-screen">
          <div class="login-box">
            <a href="#" class="login-logo">
              <img src="/assets/images/teamup-full.png" style="max-width:50%;max-height:50%;" alt="Bootdey bootstrap snippets bootdey">
            </a>
            <div class="row gutters">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="First Name">
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Last Name">
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <input type="email" class="form-control" placeholder="Email">
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <input type="password" class="form-control" placeholder="Password">
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <input type="phone" class="form-control" placeholder="Phone">
                </div>
              </div>
            </div>
            <div class="actions clearfix">
              <button type="submit" class="btn btn-primary btn-block">Sign up</button>
            </div>
            <!--<div class="or">
              <span>or signup using</span>
            </div>
            <div class="row gutters">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <button type="submit" class="btn btn-tw btn-block">Twitter</button>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <button type="submit" class="btn btn-fb btn-block">Facebook</button>
              </div>
            </div>-->
            <a href="#" class="additional-link">Have an Account? <span>Login Now</span></a>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

