<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
</head>
<br>
<div class="container">
    <app-nav-bar></app-nav-bar>
</div>
<h1 style="text-align: center">Register</h1>

<div class="container" id="main-container">
  <form [formGroup]="registerForm" (ngSubmit)="onRegister(registerForm);onClickModal('addPhoto')">
    <div class="row justify-content-md-center">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="login-screen">
          <div class="login-box">
            <a href="#" class="login-logo">
              <img src="/assets/images/teamup-full.png" style="max-width:50%;max-height:50%;" alt="Bootdey bootstrap snippets bootdey">
            </a>
            <div class="row gutters">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <input type="text" formControlName="firstName" class="form-control" placeholder="First Name" required>
                  <span *ngIf="registerForm.get('firstName').hasError('pattern')">
                    First Name should consist of letter only !
                  </span>
                  <span *ngIf="registerForm.get('firstName').hasError('maxlength')">
                    First Name can be at max 20 characters!
                  </span>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <input type="text" formControlName ="lastName" class="form-control" placeholder="Last Name" required>
                  <span *ngIf="registerForm.get('lastName').hasError('pattern')">
                    Last Name should consist of letter only !
                  </span>
                  <span *ngIf="registerForm.get('lastName').hasError('maxlength')">
                    Last Name can be at max 20 characters!
                  </span>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <input type="email" formControlName ="email" class="form-control" placeholder="Email" required>
                  <span *ngIf="registerForm.get('email').hasError('pattern')">
                    Email example : default@something.country !
                  </span>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <input type="password" formControlName ="password" class="form-control" placeholder="Password" required>
                  <span *ngIf="registerForm.get('password').hasError('minlength')">
                    Password should have at least 8 characters!
                  </span>
                  <span *ngIf="registerForm.get('password').hasError('maxlength')">
                    Password should have at max 16 characters!
                  </span>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <input type="phone" formControlName="phone" class="form-control" placeholder="Phone" required>
                  <span *ngIf="registerForm.get('phone').hasError('pattern')">
                    Phone should consist of digits only !
                  </span>
                  <span *ngIf="registerForm.get('phone').hasError('maxlength')">
                    Phone can be at max 15 digits!
                  </span>
                </div>
              </div>
              <!-- <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <input type="password" formControlName="conf_password" class="form-control" placeholder="Confirm Password" required>
                  <span *ngIf="registerForm.get('conf_password').hasError('minlength')">
                    Password should have at least 8 characters!
                  </span>
                  <span *ngIf="registerForm.get('conf_password').hasError('maxlength')">
                    Password should have at max 16 characters!
                  </span>
                </div>
              </div> -->
              <div class="col-xl-12 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <label for="interests">Interests <i>(Press Ctrl to select multiple tags)</i></label>
                  <select size="10" id="interests" formControlName="interests" class="form-control" data-role="select-dropdown" data-profile="minimal" multiple required>
                    <option>TECHNOLOGY</option>
                    <option>BUSINESS</option>
                    <option>MACHINE_LEARNING</option>
                    <option>SOFTWARE</option>
                    <option>HARDWARE</option>
                    <option>SALES</option>
                    <option>RESEARCH</option>
                    <option>MAINTENANCE</option>
                    <option>OPERATING_SYSTEMS</option>
                    <option>ARTIFICIAL_INTELLIGENCE</option>
                    <option>DBMS</option>
                    <option>NETWORKING</option>
                    <option>DATA_STRUCTURES</option>
                    <option>ALGORITHMS</option>
                    <option>OOP</option>
                    <option>SQL</option>
                    <option>UNIX</option>
                    <option>WINDOWS</option>
                    <option>GIT</option>
                    <option>GITHUB</option>
                    <option>MANAGEMENT</option>
                    <option>ECONOMICS</option>
                    <option>PSYCHOLOGY</option>
                    <option>HISTORY</option>
                    <option>BOOKS</option>
                    <option>MUSIC</option>
                    <option>RUNNING</option>
                    <option>SWIMMING</option>
                    <option>LAW</option>
                    <option>MATHEMATICS</option>
                    <option>PHYSICS</option>
                    <option>ENGINEERING</option>
                    <option>ARCHITECTURE</option>
                    <option>AGRICULTURE</option>
                    <option>SPACE</option>
                    <option>CHEMISTRY</option>
                    <option>SCIENCE</option>
                    <option>POLITICS</option>
                    <option>ATHLETICS</option>
                    <option>ROBOTICS</option>
                    <option>BIOINFORMATICS</option>
                    <option>MEDICINE</option>
                    <option>ARCHEOLOGY</option>
                    <option>STOCK_MARKET</option>
                    <option>CRYPTOCURRENCY</option>
                    <option>YACHTS</option>
                    <option>SHIPS</option>
                    <option>AEROPLANE</option>
                    <option>MINERAL_RESOURCES</option>
                    <option>MINING</option>
                    <option>TRAVELLING</option>
                  </select>
                  <a class="text-muted">At least 2 tags are required.</a>
                </div>
              </div>




            </div>
            <div class="actions clearfix">
              <button [disabled]="registerForm.invalid" type="submit" class="btn btn-primary btn-block">Sign up</button>
                <div *ngIf="correctCredentials else wrongCredentials">
                </div>
                <ng-template #wrongCredentials>
                    <span> A user with that email might already exist.</span>
                    <br>
                    <span> Try using another email address.</span>
                </ng-template>
            </div>
            <a href="#" class="additional-link">Have an Account? <span>Login Now</span></a>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<!-- Add Photo Modal -->
 <div class="modal fade" id="addPhoto" tabindex="-1" role="dialog" aria-labelledby="addPhotoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-zoom" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addPhotoModalLabel">Add a photo to your account</h5>
        <button type="button" class="close" data-dismiss="modal"(click)="onClickModal('bio')" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">

          Add a photo of yourself, so that other people can know you better!
          </div>

          <label class="btn btn-default">
            <input type="file" (change)="selectFile($event)" />
          </label>
          <div class="alert alert-light" role="alert">{{ message }}</div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"(click)="onClickModal('bio')" >No</button>
        <button class="btn btn-primary" [disabled]="!selectedFiles" (click)="upload(registerForm.value.email);">
          Upload
        </button>
      </div>
    </div>
  </div>
</div>

