<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
</head>
<br>
<div class="container">
    <app-nav-bar></app-nav-bar>
</div>
<h1 style="text-align: center;margin-top: 50px">Register</h1>

<div class="container" id="main-container">
  <form [formGroup]="registerForm" (ngSubmit)="onRegister(registerForm);">
    <div class="row justify-content-md-center">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="login-screen">
          <div class="login-box">
            <a href="#" class="login-logo">
              <img src="/assets/images/teamup-full.png" style="max-width:50%;max-height:50%;" alt="">
            </a>
            <div class="row gutters">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <input type="text" formControlName="firstName" class="form-control" placeholder="First Name" required>
                  <span *ngIf="registerForm.get('firstName').hasError('pattern')">
                    First Name should consist of letter only !
                  </span>
                  <span *ngIf="registerForm.get('firstName').hasError('maxlength')">
                    First Name can be at max 20 characters!
                  </span>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <input type="text" formControlName ="lastName" class="form-control" placeholder="Last Name" required>
                  <span *ngIf="registerForm.get('lastName').hasError('pattern')">
                    Last Name should consist of letter only !
                  </span>
                  <span *ngIf="registerForm.get('lastName').hasError('maxlength')">
                    Last Name can be at max 20 characters!
                  </span>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <input type="email" formControlName ="email" class="form-control" placeholder="Email" required>
                  <span *ngIf="registerForm.get('email').hasError('pattern')">
                    Email example : default@something.country !
                  </span>
                </div>
              </div>

              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <input type="phone" formControlName="phone" class="form-control" placeholder="Phone" required>
                  <span *ngIf="registerForm.get('phone').hasError('pattern')">
                    Phone should consist of digits only !
                  </span>
                  <span *ngIf="registerForm.get('phone').hasError('maxlength')">
                    Phone can be at max 15 digits!
                  </span>
                </div>
              </div>

              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <input type="password" formControlName ="password" class="form-control" placeholder="Password" required>
                  <span *ngIf="registerForm.get('password').hasError('minlength')">
                    Password should have at least 8 characters!
                  </span>
                  <span *ngIf="registerForm.get('password').hasError('maxlength')">
                    Password should have at max 16 characters!
                  </span>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <input type="password" formControlName ="conf_password" class="form-control" placeholder="Confirm Password" required>
                  <span *ngIf="registerForm.get('conf_password').hasError('minlength')">
                    Password should have at least 8 characters!
                  </span>
                  <span *ngIf="registerForm.get('conf_password').hasError('maxlength')">
                    Password should have at max 16 characters!
                  </span>

                  <span *ngIf="registerForm.hasError('notSame')">
                    <br>
                    Passwords provided should match !
                  </span>
                </div>
              </div>

              <div class="col-xl-12 col-lg-6 col-md-6 col-sm-6 col-12">
                Pick the tags that interest you the most!
                <hr>
                <div class="form-group" style="height: 190px;overflow-y: scroll">
                  <div *ngFor="let item of TagsArray; let i = index ">
                    <label>
                      <input type = "checkbox" [value] = "item.tag" (change)="onCbChange($event)"/>
                      {{item.tag}}
                    </label>

                  </div>
                </div>
                <a class="text-muted">At least 2 tags are required.</a>
              </div>


            </div>
            <div class="actions clearfix">
              <button [disabled]="registerForm.invalid" type="submit" class="btn btn-primary btn-block">Sign up</button>
                <div *ngIf="correctCredentials else wrongCredentials">
                </div>
                <ng-template #wrongCredentials >
                    <span> A user with the same email or phone number already exists.</span>
                    <br>
                    <span> Try using different credentials.</span>
                </ng-template>

            </div>
            <a href="#" class="additional-link">Have an Account? <span>Login Now</span></a>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<!-- Add Photo Modal -->
 <div class="modal fade" id="addPhoto" tabindex="-1" role="dialog" aria-labelledby="addPhotoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-zoom" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addPhotoLabel">Add a photo to your account</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">

          Add a photo of yourself, so that other people can know you better!
          </div>

          <label class="btn btn-default">
            <input type="file" (change)="selectFile($event)" />
          </label>
          <div class="alert alert-light" role="alert">{{ message }}</div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="this.router.navigateByUrl('/login');" >No</button>
        <button class="btn btn-primary" [disabled]="!selectedFiles" (click)="upload()">
          Upload
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Upload Successful Modal -->
<div class="modal fade" id="uploadSuccessful" tabindex="-1" role="dialog" aria-labelledby="uploadSuccessfulModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-zoom" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="uploadSuccessfulLabel">Upload successful!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <h4>
        Whoa, you look awesome! <br><br> Your account was successfully created. <br><br> Click on the
        <a style="color: green"> <strong>green</strong> </a> button to start your experience with TeamUp!
        </h4>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" (click)="this.goToHomePage()">
          Take me to Home screen!
        </button>
      </div>
    </div>
  </div>
</div>
