
<head>
  <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

</head>

<app-nav-bar-authenticated>

</app-nav-bar-authenticated>

<div class="container mt-5 mb-3" id="main-container">
  <div class="col">


    <div class="col-md-4" *ngFor="let job of jobs">
      <a class="card-block  text-decoration-none" >
      <div class="card p-3 mb-2 shadow bg-body rounded">
        <div class="d-flex justify-content-between">
          <div class="d-flex flex-row align-items-center">
            <div class="icon"> <i class="bx bxl-mailchimp"></i> </div>
            <div class="ms-2 c-details">
              <h6 class="mb-0"> <strong>{{job?.company}}</strong> </h6> <span> {{job?.datePosted}} </span>
            </div>
          </div>
        </div>
        <div >
          <h3 class="heading">{{job?.title}}</h3>
          <h5>{{job?.location}}</h5>
        </div>
        <div class="container">
          <span class="badge badge-info mr-1"> {{job?.jobType}} </span>
          <span class="badge badge-secondary mr-4"> {{job?.experienceLevel}} </span>
          <button type="button" (click)="setSelectedJob(job)" class="btn btn-outline-primary"><i class="fa fa-external-link"></i></button>
        </div>
      </div>
      </a>
    </div>


    <!--<div class="col-md-4">
      <a class="card-block stretched-link text-decoration-none text-black" href>
      <div class="card p-3 mb-2 shadow bg-body rounded">
        <div class="d-flex justify-content-between">
          <div class="d-flex flex-row align-items-center">
            <div class="icon"> <i class="bx bxl-dribbble"></i> </div>
            <div class="ms-2 c-details">
              <h6 class="mb-0">Dribbble</h6> <span>4 days ago</span>
            </div>
          </div>
          <div class="badge"> <span>Product</span> </div>
        </div>
        <div>
          <h3 class="heading">Junior Product<br>Designer-Singapore</h3>
        </div>
      </div>
      </a>
    </div>


    <div class="col-md-4">
      <a class="card-block stretched-link text-decoration-none" href>
      <div class="card p-3 mb-2 shadow bg-body rounded">
        <div class="d-flex justify-content-between">
          <div class="d-flex flex-row align-items-center">
            <div class="icon"> <i class="bx bxl-reddit"></i> </div>
            <div class="ms-2 c-details">
              <h6 class="mb-0">Reddit</h6> <span>2 days ago</span>
            </div>
          </div>
          <div class="badge"> <span>Design</span> </div>
        </div>
        <div>
          <h3 class="heading">Software Architect <br>Java - USA</h3>
        </div>
      </div>
      </a>
    </div>
  </div>-->


</div>


<div class="right">
  <div class="container mt-5">
    <div class="col">
         <div class="card p-3 mb-2 shadow bg-body rounded">
           <div class="icon"> <i class="bx bxl-reddit"></i> </div>
           <br>
           <h1 class="heading">{{selectedJob.title}}</h1>
           <h2 class="heading">{{selectedJob.location }}</h2>
           <h6>
             <br>
             <strong>Job type:  </strong> <span class="badge badge-info"> {{selectedJob?.jobType}} </span>
             <br><br>
             <strong>Experience level:  </strong> <span class="badge badge-secondary"> {{selectedJob?.experienceLevel}} </span>
             <br><br>
             <strong>Uploaded:  </strong> <span class="badge badge-primary text-white"> {{selectedJob?.datePosted}} </span>
             <br><br>
           </h6>
           <p>
             {{selectedJob?.info}}
           </p>
         </div>
      <button (click)="onClickModal('apply')" type="button" class="btn btn-outline-success mr-2" data-placement="top" data-original-title="Info">Apply</button>
      <!--<button type="button" class="btn btn-outline-danger">I'm not interested</button>-->
    </div>
  </div>
</div>
</div>

<!-- Application confirmation modal -->
  <div class="modal fade" id="apply" tabindex="-1" role="dialog" aria-labelledby="applyModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-zoom" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="applyModalLabel">Apply</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to apply for <strong>{{selectedJob?.company}} - {{selectedJob?.title}}</strong> ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          <button type="button" (click)="onApplyToJob(selectedJob)" class="btn btn-success"  data-dismiss="modal">Yes</button>
        </div>
      </div>
    </div>
  </div>
